{{ define "main" }}
<section class="post-list">
    {{ range .Paginator.Pages }}
    <article class="single-post border-bottom pb-4">
        <h2 class="entry-title mt-4 mb-4">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
        <div class="post-meta mb-4">
            <span class="post-author">Posted by: {{ .Params.author }}</span>
            <span class="post-date">
                <time>{{ dateFormat .Site.Params.dateFormat .Date }}</time>
            </span>
            <span class="post-tags">
                {{ range (.GetTerms "tags") }}
                    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                {{ end }}
            </span>
        </div>
        <div class="entry-content">{{ .Summary }}</div>
    </article>
    {{ end }}
    <div class="pt-4">
        {{ template "_internal/pagination.html" . }}
    </div>
    
</section>
{{ end }}